---
import Layout from "../layouts/Layout.astro";
import Works from "./works.astro";
import ButtonWithLinks from "../components/ButtonWithLinks.astro";
const pageTitle = "Milky-Way";

function GetLanguageIcon(language: string) {
	if (language === "WebGL") return "https://upload.wikimedia.org/wikipedia/commons/2/25/WebGL_Logo.svg"
	if (language === "C") return "https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg"

	const formattedName = language.toLowerCase().replaceAll('+', 'plus');
	return `https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/${formattedName}/${formattedName}-original.svg`;
}

const skills = [
	"Python", "C", "C++", "JavaScript", "TypeScript", "React", "CSS3", "WebGL", "OpenGL", "Linux", "Git"
];
---

<Layout pageTitle={pageTitle}>
	<div style="display: flex; align-items: center;">
		<h1>Umair Rizwan</h1>
		<div
			style="flex-grow: 1; height: 1px; background-color: white; margin-left: 10px; margin-right: 10px; "
		>
		</div>
		<div class="header-buttons">
			<ButtonWithLinks />
		</div>
	</div>
	<p>
		Hello, world! I'm Umair Rizwan, a fourth year computer science student
		at the University of California, Santa Cruz. I have a strong foundation
		in programming and a passion for solving complex problems. My interests
		span computer graphics, web development, software engineering,
		theoretical computer science, as well as areas like computer networks,
		augmented and virtual reality, and data visualization. I'm a dedicated
		and detail-oriented learner who enjoys building things that are both
		functional and thoughtfully designed, and I approach my work with
		persistence and curiosity. I'm always looking to grow as a developer and
		expand my skill set. Feel free to explore some of my projects below!
	</p>

	<div class="center footer-buttons">
		<ButtonWithLinks />
	</div>
	<h2>Skills</h2>
	<div class="skills center">
		{
			skills.map((skill) => (
				<img
					class="skills__img"
					width="46"
					height="46"
					alt={skill}
					src={GetLanguageIcon(skill)}
				/>
			))
		}
	</div>
</Layout>
<Works />
