---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
const allProjects = await getCollection("projects");

const orderedProjects = allProjects.sort((a, b) => (a.data.order - b.data.order))
---

<div>
	<h2>Projects</h2>
	<ul role="list" class="link-card-grid">
		{
			orderedProjects.map((card) => {
				return (
					<Card
						url={`/projects/${card.id}/`}
						image={card.data.image.url}
						title={card.data.title}
						body={card.data.description}
						stack={card.data.stack}
						links={card.data.links}
					/>
				);
			})
		}
	</ul>
</div>
